<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <form method="post" class="post-form" action="/update/{{student.id}}/">
        <input type="hidden" name="id" id="id" required maxlength="20" value="{{ student.id }}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Enter Details</h3>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">First Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="first_name" value="{{student.first_name}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Last Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="last_name" value="{{student.last_name}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Age:</label>
                <div class="col-sm-4">
                    <input type="text" name="age" value="{{student.age}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Address:</label>
                <div class="col-sm-4">
                    <input type="text" name="address" value="{{student.address}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description:</label>
                <div class="col-sm-4">
                    <input type="text" name="description" value="{{student.description}}">
                </div>
            </div>
            <!-- <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="formFileSm">Upload profile picture:</label>
                <label class="col-sm-2 col-form-label">{{ form.profile_pic }}</label>
            </div> -->
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>

        </div>
    </form>
</body>

</html>